<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="League Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
        <testdoxHtml outputFile="build/testdox.html"/>
    </logging>
</phpunit>
